@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    padding: 0 20px;
}


/*

Generic

*/


.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
    paddin-left; 12px;
}

.purple{
    color: #6f2fdf;
}

button {
    color: rgb(101 22 255);

}

h3 {
    padding-bottom: 18px;
}



/*

NAV

*/

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 56px;
}

.logo__img--wrapper {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.nav__logo {
    width: 20%;
    margin-right: 12px;
}

.link__box {
    width: 100%;
    
}

.nav__link-list{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.nav__link--item{
    display: flex;
}

.nav__link {
    color: black;
    margin-right: 80px;
    text-decoration: none;
}

.signup__box {
    width: 30%;
    display: flex;
    align-items: center;
}


.nav__link--login {
    color: black;
    padding: 24px;
    text-decoration: none;
}

.btn {
    width: 100%;
    height: 40px;
    color: #ffffff;
    background-color: #6f2fdf;
    border-radius: 20px;
    border: none;
}


/*

About Me

*/

.container{
    width: 100%;
    max-width: 1600px;
    margin: 80px 40px;
}

.about__me--box{
    display: flex;
    margin: 0 auto;
}

.about__me--title{
    width: 100%;
}

.title{
    width: 100%;
    font-size: 48px;
}

.about__me--para{
    padding: 32px 0;
    font-size: 18px;
}

.box__input{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 28rem;
    text-align: center;
}

.email__input{
    width: 100%;
    border-radius: 9999px;
    border-width: 1px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    font-weight: 500;
    color: #e2e2e2;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
}

.input__btn {
    right: 0px;
    top: -25px ;
    bottom: 0px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: none;
    background-color: rgb(101 22 255);
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 900;
    color: rgb(246 250 252);
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;

}

@media (min-width: 640px) {
    .input__btn {
        position: absolute;
        margin-top: 0.5rem 8px;
        margin-bottom: 0.5rem;
        width: 10rem;
        line-height: 1;
    }
}

.box__img {
    width: 100%;
    margin: 80px 0;
}

.trust__customer {
    color: rgb(183, 183, 183);
    font-weight: bold;
    padding: 80px 0 12px 0;
}

.customer__img{
    width: 90%;
    filter: grayscale(1) invert(1);
}

.about__me--img {
    width: 48rem

}

/*

FEATURES

*/

.container {
}

.feature__title--slogan {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
}

.features__heading {
    font-size: 22px;
    padding-bottom: 24px;
}

.slogan {
    font-size: 56px;
    font-weight: 900;
    padding-bottom: 24px;
}

.feature__summary{
    width: 60%;
    font-weight: 450;
    font-size: 19px;
    padding-bottom: 56px;
    text-align: center;
    color: #8f8f8f;
}

.feature__layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feature__items {
    flex: 0 0 calc(33.33% - 10px);
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.img__src {
    border: 1px solid #6f2fdf;
    border-radius: 9999px;
    margin-top: 8px;
    padding: 18px;
}

.feature__item--text {
    font-size: 16px;
    margin-left: 18px;
    width: 50%;
    line-height: 1.8;
}

.feature__item--heading {
    font-size: 26px;
    font-weight: 700;
}

/*

Quality Work

*/


.container {
    margin: 0 20px;
    padding: 96px 0;
}

.qw__slogan{
    width: 75%;
    font-size: 48px;
    font-weight: 900;
    padding: 16px 0;
}

.qw__para {
    line-height: 1.5;
}

.qw__feature--boxes {
    width: 100%;
    max-width: 1200;
    display: flex; 
}

.qw__box1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.qw__box2 {
    width: 50%;
}

.qw__img {
    width: 100%;
}

.qw__input--btn {
    right: 40px;
    top: -25px;
    bottom: 0px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 30rem;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: none;
    background-color: rgb(101 22 255);
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 900;
}

.qw__btn {
    color: #ffffff;
}

.qw__row {
    max-width: 1300px;
}

/* 

Steps

*/

.steps__container {
    position: relative;
    margin-left: 64px;
}

.steps__row{
    display: flex;
    margin: 0 auto;
    padding: 4rem 0;
}

.steps__box1 {
    width: 50%;
}

.steps__box1--img{
    width: 100%;
}

.steps__box2 {
    width: 80%;
    margin-left:4rem;
}

.steps__box2--padding{
    width: 100%;
}

.steps__title {
    font-size: 18px;
}

.steps__slogan {
    margin: 1rem 0;
    font-size: 48px;
    font-weight: 900px;
}

.list__item {
    display: flex;
}

.steps__00 {
    font-size: 38px;
    color: rgb(203 213 224);
    font-weight: 500;
    padding-right: 24px;

}

.steps__text {
    margin-bottom: 12px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
}

.steps__heading {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 0;
}

.steps__para {
    width:95%;
    font-size: 14px;
    color: rgb(113 128 150);
    line-height: 2;
    padding-bottom: ;
}

/*

Values

*/

.value__row{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
    paddin-left; 12px;
}

.value__box1{
    padding-left: 24px;
}

.value__img--img{
    width: 600px;
}

.value__box2{
    width: 100%;
}

.value__top{
    font-size: 22px;
    padding-bottom: 16px;
}

.value__slogan{
    width: 90%;
    font-size: 52px;
    font-weight: 800;
    padding-bottom: 22px;
}

.value__para{
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    color: #8f8f8f;
    line-height: 1.5;
    padding-bottom: 28px;
}

.value__principles{
    display: flex;
}


.value__1{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
}


.value__title{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 12px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.value__1--para{
    width: 100%;
    font-size: 18px;
    line-height: 1.5;
    color: #8f8f8f;
    padding-bottom: 12px;
    padding-right: 12px;
    margin-bottom: 28px;
}

.value__2{
    width: 50%;
}

.values__link {
    border: 4px solid #6f2fdf;
    border-radius: 30px;
    padding: 8px 26px;
    text-decoration: none;
    background-color: #6f2fdf;
    color: #ffffff;
    font-weight: 600;
    margin: 0 auto;
}


.feature {
    display: flex;

}

.feature-icon{
    width: 40px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: rgb(154, 230, 180);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dollar__sign {
  

}

.value__title {
    display: flex;
    justify-content: start;
    align-items: center;
}

.icon-container {
    border: none;
    border-radius: 20px;
    width: 13%;
    background-color: rgb(254, 179, 179);
    color: rgb(155, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

.briefcase__icon {
    width: 55%;
}
